* { outline: none; }

@import "tools/mixins";
@import "tools/media-queries";
@import "tools/function";
@import "tools/base";
// 
@import "tools/date";

$colors: (
  primary :   #2BCCC1,
  secondary : #58D0CB,
  danger :    #F72E43,
  dangerS :   #F84B52,
  light :     #fefefe,
  default :   #E3F5F6,
  dark :      #432A39,
  bg :        #4C3441,
  facebook :  #3B5998
);
.drop_shadow { box-shadow: 4px 7px 28px -9px rgba(0,0,0,0.75); }
a.logo_nav { @include size(90px, f); display: block; margin-right: 10px;
    svg { display: block; height: 100%; 
        path { fill: map-get($colors, primary) }
    }
}
.mainlogo_homepage { @include size(200px, auto); margin: 40px auto; 
    svg { display: block; @include size(f, auto); }
}

nav.ui.menu { margin-bottom: 20px; padding-top: 10px; }


// semantic ui - corrective
.ui.card>.content .star.icon:hover, .ui.cards>.card>.content .star.icon:hover, .ui.star.rating .active.icon, 
.ui.card>.content .active.star.icon, .ui.cards>.card>.content .active.star.icon { color: #ffb70a !important; }

@import "pages/feed";
@import "pages/user-page";

span.sexy_date_event { @include size(f, auto); @include lH(28); text-align: justify;
    text-justify: inter-word;
    .day_mount { @include fZ(21) }
    .year { @include fZ(26) }
}

@import "pages/become_pro";