* {
  outline: none;
}

/* resolution */

.form_container {
  margin: 40px auto;
  max-width: 600px;
}

._trs,
ul.games_list_container li.ui.card {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

/*
    code from https: //codepen.io/PoulyCroc/pen/VMJxBb

    customed by Maxime Bartier <poulycroc.studio@gmail.com>
    */

.sexy_date {
  color: #ffffff;
  font-size: 12px;
  width: 90px;
  height: 90px;
  position: relative;
  float: left;
  background: #23b49a;
  border: 8px solid #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.8), 0 10px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.8), 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.sexy_date:before,
.sexy_date:after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.8);
  top: -5px;
  margin-top: 50%;
}

.sexy_date:after {
  right: 0;
}

.sexy_date span {
  position: absolute;
  text-align: center;
  width: 74px;
  top: 8px;
  line-height: 10px;
  line-height: 0.625rem;
}

.sexy_date span:first-of-type:after {
  content: " ";
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  top: -9px;
  left: 0px;
  border-top: 3px solid #148d70;
}

.sexy_date span.date {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  height: 36px;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sexy_date span.hour {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -8px;
  left: 0;
  margin: auto;
  width: 100%;
  height: 20px;
}

a.logo_nav {
  width: 40px;
  height: 100%;
  display: block;
  margin-right: 10px;
}

a.logo_nav img {
  display: block;
  height: 100%;
}

nav.ui.menu {
  margin-bottom: 20px;
  padding-top: 10px;
}

.ui.card > .content .star.icon:hover,
.ui.cards > .card > .content .star.icon:hover,
.ui.star.rating .active.icon,
.ui.card > .content .active.star.icon,
.ui.cards > .card > .content .active.star.icon {
  color: #ffb70a !important;
}

ul.games_list_container {
  width: 100%;
  height: auto;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 2px;
          column-gap: 2px;
  -webkit-column-fill: auto;
          column-fill: auto;
  -webkit-column-width: 33.3333%;
          column-width: 33.3333%;
  -webkit-padding-start: 0;
  clear: both;
  zoom: 1;
}

ul.games_list_container:before,
ul.games_list_container:after {
  content: " ";
  display: table;
}

ul.games_list_container:after {
  clear: both;
  line-height: 0;
  visibility: hidden;
}

ul.games_list_container li.ui.card {
  display: inline-block;
  column-break-inside: avoid;
  opacity: 1;
  display: inline-block;
  width: calc(100% - 2em);
  height: auto;
  margin-top: 1em !important;
  margin-right: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 1em !important;
}

.user_header {
  height: auto;
  padding: 40px 0;
  margin-bottom: 40px;
  clear: both;
  zoom: 1;
}

.user_header:before,
.user_header:after {
  content: " ";
  display: table;
}

.user_header:after {
  clear: both;
  line-height: 0;
  visibility: hidden;
}

ul.feed_game_user_page {
  width: 100%;
  height: auto;
  -webkit-margin-before: 0;
}

ul.feed_game_user_page li.ui.card {
  float: left;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.item.link_auth_focus_user a img {
  margin: 5px auto;
}

.item.link_auth_focus_user a span {
  display: inline-block;
  width: 100%;
  height: auto;
  padding-top: 5px;
  text-align: center;
}

.item.link_auth_focus_user.logout_btn {
  width: 100%;
}

.list_follower .item .content a {
  line-height: 28.8px;
  line-height: 1.8rem;
  padding-left: 10px;
}

span.sexy_date_event {
  width: 100%;
  height: auto;
  line-height: 28px;
  line-height: 1.75rem;
  text-align: justify;
  text-justify: inter-word;
}

span.sexy_date_event .day_mount {
  font-size: 21px;
  font-size: 1.3125rem;
}

span.sexy_date_event .year {
  font-size: 26px;
  font-size: 1.625rem;
}

