.user_header { height: auto; padding: 40px 0; margin-bottom: 40px;
    @include clearfix;
}

ul.feed_game_user_page { @include size(f, auto); -webkit-margin-before: 0;
    li.ui.card { float: left; margin-right: 2em; margin-top: 0; margin-bottom: 0; }
}

.item.link_auth_focus_user {
    a {
        img { margin: 5px auto; }
        span { display: inline-block; @include size(f, auto); padding-top: 5px; text-align: center; }
    }
    &.logout_btn { width: 100%; }
}

.list_follower .item .content a { @include lH(28.8); padding-left: 10px; }